/*! REGOLE GENERALI */

/** RESET PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: black;
}

.decoration-underline {
    text-decoration: underline;
}

button {
    padding: 5px;
    background-color: blue;
    border-color: transparent;
}

button > a {
    color: white;
}

button:hover {
    opacity: 0.7;
}

/*! CONTENITORI GENERICI PAGINA */

/* Container Hero-Header e Footer */
.container {
    width: 60%;
    margin: 0 auto;

    /* Debug */
    /* height: 300px; */
    background-color: rgb(0, 255, 8);
}

/* Container main */
.container-main {
    width: 50%;
    margin: 0 auto;
}

.container-piani {
    margin: 15px;
}

/*! CLASSI RIUTILIZZABILI */

/** SPAZIATURE */
.padding-top-50 {
    padding-top: 50px;
}

.padding-top-bottom-7 {
    padding: 7px 0;
}

.padding-left15 {
    padding-left: 15px;
}

.margin-top-bottom7 {
    margin: 7px 0;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-50 {
    margin-bottom: 50px; 
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right7 {
    margin-right: 7;
}

/** BOTTONI */
.button-large {
    width: 190px;
    height: 40px;
    text-align: center;
}

/** BORDI */
.border {
    border: 1px solid rgb(118, 118, 118);
}

.color-grey {
    color: grey;
}

/** TESTO */
.text-blu {
    color: rgb(47, 83, 230);
}

/*! REGOLE FLEXBOX */

.flex-row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.item-center-cross-axis {
    align-self: center;
}

.items-start-cross-axis {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 20px;
}

.wrap {
    flex-wrap: wrap;
}


/*! INTESTAZIONE PAGINA */

/** NAV-HEADER */

.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
}

.nav-header li {
    padding: 0 15px;
}

.logo {
    width: 75px;
}

/* .nav-inner { 
    width: 97%;
    margin: 0 auto;
    height: 100%;

    Debug
    background-color: red;
}

/** HERO HEADER */
.hero-header {
    width: 100%;
}

.bg_color-lightblue {
    background-color: rgb(92, 150, 195);
}

.width-description-hero {
    flex-basis: 25%;

    /* Debug */
    /* height: 300px;                  Per debug Hero */
    /*  height: 200px;*/
    /* Per debug dropbox */
    background-color: rgb(155, 216, 195);
}

.width-img-hero {
    flex-basis: 75%;

    /* Debug */
    /* height: 300px;                 Per debug Hero */
    /* height: 330px; */
    /* Per debug dropbox */
    background-color: rgb(7, 248, 232);
}

#freccia {
    font-size: 35px;
}


/*! CONTENUTO PRINCIPALE */

/** SEZIONE PIANI BUSINESS DROPBOX */

.width-piani-business {
    flex-basis: calc((100% - 42px) / 3);       /* 42 = 20pxgap + 1px bordi */
}

.container-enterprise-team {
    position: relative;
}

.position-button-enterprise-team {
    position: absolute;
    top: 24px;
    right: 0;
}

.title-piano {
    text-align: center;
}

.width-hr-51 {
    width: 51px;
}

/** SEZIONE PARTNER DROPBOX */

.section-partner-dropbox {

    /* Debug */
    /* height: 330px; */
    /* background-color: rgb(226, 208, 43); */
}

.width-img-partner {
    flex-basis: 60%;

    /* Debug */
    height: 330px;
    background-color: rgb(7, 248, 232);
}

.width-description-partner {
    flex-basis: 40%;

    /* Debug */
    height: 200px;
    background-color: rgb(155, 216, 195);
}

/** SEZIONE OPERAZIONI DROPBOX BUSINESS */
.section-operazioni-dropbox {

    /* Debug */
    /* height: 500px; */
    background-color: blueviolet;
}

.width-operazioni-business {
    flex-basis: calc((100% - 40px) / 3);            /* 40 = 20pxgap */

    /* Debug */
    height: 200px;
    background-color: orange;
}
/** SEZIONE CLIENTI DROPBOX BUSINESS */
.section-clienti-dropbox {

    width: 60%;
    /* Debug */
    height: 150px;
    background-color: rgb(226, 208, 43);
}


/*! PIE' DI PAGINA */

footer {
    width: 100%;
    background-color: black;

    /* Debug */
    height: 300px;
}